.playlist-section {
    margin-top: 20px;
}

.playlist-item-container {
    display: flex;
    gap: 30px;
}

.playlist-section-title {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

.playlist-item {
    max-width: 153px;
    max-height: 202px;
    cursor: pointer;
}

.playlist-thumbnail {
    overflow: hidden;
    border-radius: 5px;
}

.playlist-thumbnail img {
    width: 100%;
    height: 153px;
    object-fit: cover;
    transition: scale 0.5s;
}

.playlist-thumbnail img:hover {
    scale: 1.1;
}

.playlist-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-top: 10px;
}
